h1 {
  font-family: cursive;
}

#list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkolivegreen;
  margin-left: 35%;
  margin-right: 35%;
}
body {
  background-color: black;
}
